<div class="question" style="margin:0px -1em;">
    <div class="answer">
        <div style="position: relative;">
            <input #spelling (input)="onInputChange($event)" class="input" [placeholder]="placeholder === 'Write the phrase' ? placeholder : ''" value={{value}} [ngStyle]="{'pointer-events': 'none', 'text-indent': textIndent, 'text-align': textIndent === '0px' ? 'center': 'left'}" style="width: 100%;padding: 15px;background: #ffdea2;border: 1px solid #ccc;letter-spacing: 2px;font-size: 28px;text-align: left;font-family: Courier;" />
            <div [ngStyle]="{'display': (placeholder === 'Write the phrase') ? 'none' : ''}" #spellingPlaceholder class="spelling-placeholder" style="letter-spacing: 2px;font-size: 28px;position: absolute;top: 16px;text-align: center;pointer-events: none;left: 50%;transform: translateX(-50%);font-family: Courier;white-space: nowrap;">{{placeholder}}</div>
        </div>
        <small style=" margin: 11px; display: block; ">To write via physical keyboard please click on the field.</small>
        <div *ngIf="showAnswer && !correct" style="font-size: 25px;padding: 10px;">Correct Answer is : &nbsp;<span style="color:darkgreen;">{{question.data?.phrase_correct}}</span></div>
        <span *ngIf="showAnswer" class="answered-circle" [ngStyle]="correct ? { 'background-color': 'green' } : { 'background-color': 'red' }"><img src="{{
            correct
              ? '/assets/images/check.png'
              : '/assets/images/cross-sign.png'
          }}" alt="" /></span>
    </div>
    <div class="simple-keyboard"></div>
</div>
