.question {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.image {
  margin-bottom: 2em;
}

.answers {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.answers .answer {
  background-color: white;
  border-radius: 5px;
  padding: .25em;
  text-align: center;
  display: flex;
  border: 4px solid grey;
  position: relative;
  cursor: pointer;
  margin: 0 .25em;
  padding: 4px;
  margin-bottom: .5em;
}

.answer img {
  width: 100%;
}

.answers .answer .answer-text {
  display: block;
  margin: auto;
  width: 100%;
  font-size: 30px;
  color: aqua;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.answer .answered-circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(30%, 30%);
  display: flex;
  z-index: 1000;
}

.answer .answered-circle img {
  width: 16px;
  height: 16px;
  margin: auto;
}

@media (max-width: 1000px) {
  .image {
    margin-bottom: 1em;
  }
}
